<launch>

  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find motoman_mys450f_support)/rviz/display.rviz" />

  <include file="$(find motoman_mys450f_support)/launch/load_mys450f.launch" />
  <param name="use_gui" value="$(arg gui)" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  <!-- If you install ROS-Industrial industrial_robot_client
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find industrial_robot_client)/config/robot_state_visualize.rviz" required="true" />
  -->
</launch>
